body,
html {
	height: 100vh;
	margin: 0;
}

a {
	text-decoration: none !important;
	color: white;
}

* {
	font-family: Helvetica;
	box-sizing: border-box;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	margin-bottom: 0 !important;
}

button[disabled] {
	background: #a9a9a9;
	cursor: not-allowed;
	transition: none;
}

button[disabled]:hover {
	background: #a9a9a9;
}

.form-error {
	color: #e85252;
	font-size: 12px;
	margin: 0;
	margin-top: 5px;
	padding-left: 5px;
}

input[readonly].off-field {
	border: none;
	background: transparent;
	padding-left: 0;
}

.hide {
	display: none;
}

body {
	background: #e36f4a;
	flex-direction: column;
}

.no-bullets {
	list-style-type: none;
}

.inline-block {
	display: inline-block;
}

.user-form .actions {
	margin-top: 10px;
}

hr {
	border: 1px solid white;
	margin: 20px 0;
}

.user-form {
	position: relative;
	padding: 40px 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 375px;
	background: white;
	-webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.63);
	-moz-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.63);
	box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.63);
}

.login-button {
	margin-left: 10px;
	padding: 10px 15px;
	font-size: 16px;
	background: #6cd298;
	text-decoration: none;
	cursor:pointer;
	border: 0;
	border-radius: 3px;
	transition: 0.2s ease-out background;
	color: white;
}

.login-button:hover {
	background: #e36f4a;
}

.main-color {
	background: #e36f4a;
}

.text-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.catchphrase {
	font-size: 32px;
	font-weight: 100;
	color: #82c0c2;
}

.catchphrase-description {
	margin-top: 5px;
	font-size: 14px;
	color: #a5a5a5;
}

.top-border {
	position: absolute;
	top: -10px;
	background: linear-gradient(to right, #77de5f 0%, #61c8ca 100%);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	width: 100%;
	height: 10px;
}

.field-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.field-label {
	margin-top: 10px;
	font-size: 13px;
	color: #8a8a8a;
}

.field {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	padding-left: 15px;
	color: #545454;
	margin-top: 5px;
	border: 1px solid darkgray;
	border-radius: 3px;
	background: #f9f9f9;
}

.actions {
	width: 100%;
	justify-content: flex-end;
	display: flex;
	align-items: center;
}

.create-account {
	color: #aeaeae;
	font-size: 13px;
	text-decoration: none;
}

.clear {
	font-weight: 100;
}

.bold {
	font-weight: 700;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.m-r-10 {
	margin-right: 10px;
}

.m-r-5 {
	margin-right: 5px;
}

.column {
	flex-direction: column;
}

.gray {
	color: #868686;
}

.black {
	color: #000;
}

.bg-white {
	background: white;
}

.space-between {
	justify-content: space-between;
}

.sz-13 {
	font-size: 13px;
}

.h-150 {
	height: 150px;
}

.space-around {
	justify-content: space-around;
}

.no-margin {
	margin: 0;
}
