.navbar {
	background: white;
	border-top: 5px solid #e36f4a;
}

body {
	background: #f4f4f4;
}

.destination {
	height: 45px;
	border: 1px solid darkgray;
	border-right: 0;
	border-left: 0;
	padding: 0 30px;
}

.top-section {
	padding: 0 30px;
	height: 60px;
}

.destination-container {
	margin-right: 15px;
}

.user-info {
	margin: 0 50px;
}

.user-image {
	width: 85px;
	height: 85px;
	border-radius: 100%;
	background: #000;
}

.map-container {
	height: 200px;
}

.pool-info {
	width: 650px;
	background: red;
	border-radius: 5px;
	overflow: hidden;
}

.price-container {
	height: 50px;
	border-bottom: 1px solid lightgray;
}

.pool-features {
	height: 50px;
}

.price-container,
.pool-features {
	padding: 0 20px;
}

.list-subtitle {
	color: #868686;
	text-align: center;
	display: block;
	margin: 20px 0;
	font-size: 20px;
}

.seats {
	display: block;
	align-items: center;
	display: flex;
	width: 120px;
	justify-content: space-around;
}

.seats-icon {
	height: 20px;
}
