.profile-form-container {
  width: 500px;
  display: block;
  position: static;
}

.profile-container {
  width: 100%;
  display: flex;
}

.reviews-container {
  flex-grow: 2;
}

.destinys-container {
  box-sizing: border-box;
  min-width: 370px;
  padding: 20px;
  padding-top: 40px;
}

.destinys-container h3 {
  font-size: 25px;
  font-weight: 100;
  margin: 0;
  color: rgba(0,0,0,.8);
  margin-bottom: 30px;
}

.destiny-list {
  padding: 0;
  margin-top: 40px;
}

.destiny-list li span {
  display: block;
  margin-top: 2px;
}

.destiny-unreserve-button {
  position: absolute;
  top: 10;
  right: 10;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  background: transparent;
  transition: 0.1s ease-out background;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}

.destiny-unreserve-button:hover {
  background-color: #e36f4a;
}

.destiny-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  width: 20vw;
  height: 20vw;
  background: url('../images/cabin.jpg');
  background-size: cover;
  background-color: rgba(0,0,0,.2);
  background-blend-mode: darken;
}

.destiny-cost {
  font-size: 17px;
  font-weight: 100;
}

.destiny-time {
  font-size: 12px;
}

.destiny-name {
  font-size: 28px;
  font-weight: 900;
}

.destiny-item .driver {
  display: flex;
  font-size: 13px;
}

.destiny-item .driver .driver-info {
  margin-left: 10px;
}


.destiny-item .driver .driver-name {
  font-weight: 900;
}
